.cards__link {
  text-decoration: underline;
}

.cards__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:  1fr;
  gap: 32px;
}


.cards__item {
  background-color: var(--background-light-color);
  border-radius: 4px;
}

.cards__item:hover {
  background-color: var(--primary-color);
  color: var(--text-light-color);
  border-color: transparent;
}

.cards__item:hover .cards__link {
  color: var(--text-light-color);
}

.cards__body {
  padding: 16px;
  transition: background .15s ease-in-out,border .15s ease-in-out;
}

.cards__image {
  line-height: 0;
  height: 200px;
  min-height: 200px;
}

.cards__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.cards-container .default-content-wrapper{
  padding-bottom: 32px;
}

.cards__icon {
  font-size: 30px;
  margin-top: 16px;
  color: var(--primary-color);
}
.cards__item:hover .cards__icon { color: var(--icon-light-color) }

@media (width >= 768px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 992px) {
  .cards__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards__body {
    padding: 32px;
  }

  .cards__icon {
    margin-top: 16px;
  }
}
